<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link rel="stylesheet" href="main.css"/>
		<% if (process.env.NODE_ENV === 'development') {%>
		<!-- VUE DEVTOOLS LOADED IN DEV MODE ONLY -->
		<script src="http://localhost:8098"></script>
		<% } %>
	</head>
	<body>
		<div id="app"></div>
		<!-- Aul icon bits -->
		<!--
		<script src="https://kit.fontawesome.com/6831297155.js" crossorigin="anonymous"></script>
		-->
	</body>
</html>
