html, body{
	width: 500px;
	padding: 4px;
	background: #ff9e7a;/*#ff7948;*/
}
#status, #result{
	font-size: 12pt;
}
#selection{
	font-size: 8pt;
	font-style: italic;
}
.hidden {
	display: none;
}
.question {
	background: #ff7948;
}
.answer {}
hr {
	margin-top:2px;
	margin-bottom:2px;
}
